[submodule "Submodules/AMReX"]
	path = Submodules/AMReX
	url = https://github.com/AMReX-Codes/amrex.git
[submodule "Submodules/PelePhysics"]
	path = Submodules/PelePhysics
	url = https://github.com/AMReX-Combustion/PelePhysics.git
[submodule "Submodules/PeleC-MP"]
	path = Submodules/PeleC-MP
	url = https://github.com/AMReX-Combustion/PeleC-MP.git
[submodule "Submodules/GoogleTest"]
	path = Submodules/GoogleTest
	url = https://github.com/google/googletest.git
[submodule "Submodules/sundials"]
	path = Submodules/sundials
	url = https://github.com/LLNL/sundials.git
