/Exec/WORK/*
.DS_Store
datlog
mmslog
extremalog
ic.txt
plt*
chk*
tmp_build_dir
.ccls
.ccls-cache
PeleC*.ex
extern_parameters.H
extern_parameters.cpp
extern_parameters_F.H

Build/CMakeCache.txt
Build/CMakeFiles/
Build/CTestCustom.cmake
Build/CTestTestfile.cmake
Build/Exec/
Build/Makefile
Build/PelePhysics*
Build/Submodules/
Build/Testing/
Build/Tests/
Build/cppcheck/
Build/doctrees/
Build/html/

Docs/build/
Docs/doctrees/
Docs/html/
Docs/sphinx/doctrees/
Docs/sphinx_doc/

__pycache__