name: PeleC-CI

on:
  push:
    branches: [development]
  pull_request:
    branches: [development]

jobs:
  Formatting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.11
      with:
        source: './Source ./Exec'
        exclude: '.'
        extensions: 'H,h,cpp'
        clangFormatVersion: 11
  CPU-CMake:
    needs: Formatting
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        build_type: [Release, Debug]
        include:
          - os: macos-latest
            install_deps: brew install mpich automake ninja
            comp: llvm
            procs: $(sysctl -n hw.ncpu)
          - os: ubuntu-latest
            install_deps: sudo apt-get update && sudo apt-get install mpich libmpich-dev ninja-build
            comp: gnu
            procs: $(nproc)
          - build_type: Release
            ctest_args: -LE no-ci
          - build_type: Debug
            ctest_args: -R eb-c12
        exclude:
          - os: macos-latest
            build_type: Debug
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{github.token}}
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Setup
        run: |
          echo "NPROCS=${{matrix.procs}}" >> $GITHUB_ENV
          cmake -E make_directory ${{runner.workspace}}/deps
      - name: Dependencies
        run: |
          # Install MPI
          ${{matrix.install_deps}}
          # Install MetaPhysicL
          cd ${{runner.workspace}}/deps
          git clone --recursive https://github.com/roystgnr/MetaPhysicL.git ${{runner.workspace}}/deps/MetaPhysicL
          cd ${{runner.workspace}}/deps/MetaPhysicL
          ./bootstrap
          ./configure --prefix="${{runner.workspace}}/deps/install/MetaPhysicL"
          make -j ${{env.NPROCS}}
          make install
          # Install MASA
          cd ${{runner.workspace}}/deps
          git clone --recursive https://github.com/manufactured-solutions/MASA.git ${{runner.workspace}}/deps/MASA
          cd ${{runner.workspace}}/deps/MASA
          ./bootstrap
          ./configure CXX='mpicxx -std=c++11' CC=mpicc \
            METAPHYSICL_DIR="${{runner.workspace}}/deps/install/MetaPhysicL" \
            --prefix="${{runner.workspace}}/deps/install/MASA"
          make -j ${{env.NPROCS}}
          make install
          # Install Python packages
          python -m pip install --upgrade pip
          pip install nose numpy pandas
      - name: Configure
        run: |
          (for DIM in 2 3; do \
            printf "\n-------- Configuring ${DIM}D --------\n"; \
            cmake -G Ninja \
            -B${{runner.workspace}}/build-${DIM}d-${{matrix.os}}-${{matrix.build_type}} \
            -DCMAKE_INSTALL_PREFIX:PATH=${{runner.workspace}}/install-${DIM}d-${{matrix.os}}-${{matrix.build_type}} \
            -DCMAKE_BUILD_TYPE:STRING=${{matrix.build_type}} \
            -DPELEC_DIM:STRING=${DIM} \
            -DPELEC_ENABLE_MPI:BOOL=ON \
            -DPELEC_ENABLE_FCOMPARE_FOR_TESTS:BOOL=OFF \
            -DPELEC_ENABLE_MASA:BOOL=ON \
            -DMASA_DIR:STRING=${{runner.workspace}}/deps/install/MASA \
            ${{github.workspace}}; \
            if [ $? -ne 0 ]; then exit 1; fi \
          done)
      - name: Build
        run: |
          (for DIM in 2 3; do \
            printf "\n-------- Building ${DIM}D --------\n"; \
            cmake --build ${{runner.workspace}}/build-${DIM}d-${{matrix.os}}-${{matrix.build_type}} \
              --parallel ${{env.NPROCS}} 2>&1 | tee -a ${{runner.workspace}}/build-output.txt; \
            if [ ${PIPESTATUS[0]} -ne 0 ]; then exit 1; fi \
          done)
      - name: Report
        run: |
          echo "::add-matcher::.github/problem-matchers/gcc.json"
          egrep "warning:|error:" ${{runner.workspace}}/build-output.txt | egrep -v "Submodules" | sort | uniq | \
            awk 'BEGIN{i=0}{print $0}{i++}END{print "Warnings: "i}' > ${{runner.workspace}}/build-output-warnings.txt
          cat ${{runner.workspace}}/build-output-warnings.txt
          export return=$(tail -n 1 ${{runner.workspace}}/build-output-warnings.txt | awk '{print $2}')
          exit ${return}
      - name: Test
        run: |
          (for DIM in 2 3; do \
            printf "\n-------- Testing ${DIM}D --------\n"; \
            cd ${{runner.workspace}}/build-${DIM}d-${{matrix.os}}-${{matrix.build_type}}; \
            ctest -j ${{env.NPROCS}} ${{matrix.ctest_args}} --output-on-failure; \
            if [ $? -ne 0 ]; then exit 1; fi \
          done)
  CPU-GNUmake:
    needs: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{github.token}}
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Setup
        run: |
          echo "NPROCS=$(nproc)" >> $GITHUB_ENV
          printf "CC=gcc-10\nCXX=g++-10\nFC=gfortran-10\nF90=gfortran-10" >> ./Submodules/AMReX/Tools/GNUMake/Make.local
      - name: PMF debug make
        working-directory: ./Exec/RegTests/PMF
        run: |
          echo "::add-matcher::.github/problem-matchers/gcc.json"
          make COMP=gnu USE_MPI=FALSE DEBUG=TRUE TPL
          make -j ${{env.NPROCS}} COMP=gnu USE_MPI=FALSE DEBUG=TRUE
      - name: PMF debug test
        working-directory: ./Exec/RegTests/PMF
        run: ./PeleC3d.gnu.DEBUG.ex pmf-lidryer-arkode.inp max_step=2 amr.plot_files_output=0 amr.checkpoint_files_output=0
      - name: EB debug build
        working-directory: ./Exec/RegTests/EB-C10
        run: |
          echo "::add-matcher::.github/problem-matchers/gcc.json"
          make -j ${{env.NPROCS}} COMP=gnu USE_MPI=FALSE DEBUG=TRUE
      - name: EB debug test
        working-directory: ./Exec/RegTests/EB-C10
        run: ./PeleC3d.gnu.DEBUG.ex eb-c10.inp max_step=2 amr.plot_files_output=0 amr.checkpoint_files_output=0
  GPU-Nvidia:
    name: GPU-CUDA v${{matrix.cuda_ver}}
    needs: Formatting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cuda_pkg: [11-2]
        include:
          - cuda_ver: "11.2"
            cuda_pkg: 11-2
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{github.token}}
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Dependencies
        run: |
          sudo wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64/7fa2af80.pub
          sudo apt-key add 7fa2af80.pub
          echo "deb https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64 /" \
              | sudo tee /etc/apt/sources.list.d/cuda.list
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends ninja-build \
              cuda-command-line-tools-${{matrix.cuda_pkg}} \
              cuda-compiler-${{matrix.cuda_pkg}} cuda-minimal-build-${{matrix.cuda_pkg}} \
              cuda-nvml-dev-${{matrix.cuda_pkg}} cuda-nvtx-${{matrix.cuda_pkg}} \
              libcurand-dev-${{matrix.cuda_pkg}} cuda-cupti-dev-${{matrix.cuda_pkg}} \
              libcusolver-dev-${{matrix.cuda_pkg}} libcusparse-dev-${{matrix.cuda_pkg}} \
              libcublas-dev-${{matrix.cuda_pkg}}
      - name: Configure
        run: |
          echo "NPROCS=$(nproc)" >> $GITHUB_ENV
          export PATH=/usr/local/nvidia/bin:/usr/local/cuda-${{matrix.cuda_ver}}/bin:${PATH}
          export LD_LIBRARY_PATH=/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/usr/local/cuda-${{matrix.cuda_ver}}/lib:${LD_LIBRARY_PATH}
          cmake -G Ninja -Bbuild-${{matrix.cuda_pkg}} \
            -DCMAKE_BUILD_TYPE:STRING=Release \
            -DPELEC_ENABLE_MPI=OFF \
            -DPELEC_ENABLE_CUDA=ON \
            -DAMReX_CUDA_ERROR_CAPTURE_THIS:BOOL=ON \
            -DAMReX_CUDA_ARCH=Volta \
            ${{github.workspace}}
      - name: Build
        run: cmake --build build-${{matrix.cuda_pkg}} --parallel ${{env.NPROCS}}
  GPU-AMD:
    name: GPU-HIP
    needs: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{github.token}}
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Dependencies
        run: |
          sudo wget http://repo.radeon.com/rocm/rocm.gpg.key
          sudo apt-key add rocm.gpg.key
          echo 'deb [arch=amd64] http://repo.radeon.com/rocm/apt/debian/ ubuntu main' \
              | sudo tee /etc/apt/sources.list.d/rocm.list
          echo 'export PATH=/opt/rocm/llvm/bin:/opt/rocm/bin:/opt/rocm/profiler/bin:/opt/rocm/opencl/bin:$PATH' \
              | sudo tee -a /etc/profile.d/rocm.sh
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends ninja-build \
              build-essential rocm-dev roctracer-dev rocprofiler-dev rocrand-dev rocprim-dev rocm-libs
      - name: Configure
        run: |
          echo "NPROCS=$(nproc)" >> $GITHUB_ENV
          source /etc/profile.d/rocm.sh
          which clang
          which hipcc
          cmake -G Ninja -B${{runner.workspace}}/build-hip \
          -DCMAKE_BUILD_TYPE:STRING=Release \
          -DCMAKE_CXX_COMPILER:STRING=$(which hipcc) \
          -DCMAKE_C_COMPILER:STRING=$(which clang) \
          -DCMAKE_CXX_STANDARD=17 \
          -DPELEC_ENABLE_MPI:BOOL=OFF \
          -DPELEC_ENABLE_HIP:BOOL=ON \
          -DAMReX_AMD_ARCH:STRING=gfx908 \
          -DCMAKE_HIP_ARCHITECTURES=gfx908 \
          -DAMDGPU_TARGETS=gfx908 \
          -DGPU_TARGETS=gfx908 \
          -DPELEC_ENABLE_FCOMPARE_FOR_TESTS:BOOL=OFF \
          -DPELEC_ENABLE_MASA:BOOL=OFF \
          ${{github.workspace}}
      - name: Build
        working-directory: ${{runner.workspace}}/build-hip
        run: |
          echo "::add-matcher::.github/problem-matchers/gcc.json"
          source /etc/profile.d/rocm.sh
          cmake --build . --parallel ${{env.NPROCS}}
  GPU-Intel:
    name: GPU-DPCPP
    needs: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{github.token}}
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Dependencies
        run: |
          sudo wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB
          sudo apt-key add GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB
          echo "deb https://apt.repos.intel.com/oneapi all main" \
              | sudo tee /etc/apt/sources.list.d/oneAPI.list
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends ninja-build \
            build-essential g++ gfortran intel-oneapi-dpcpp-cpp-compiler intel-oneapi-mkl-devel
      - name: Configure
        run: |
          echo "NPROCS=$(nproc)" >> $GITHUB_ENV
          set +e
          source /opt/intel/oneapi/setvars.sh
          set -e
          cmake -G Ninja -B${{runner.workspace}}/build-dpcpp \
            -DCMAKE_BUILD_TYPE:STRING=Release \
            -DCMAKE_CXX_COMPILER=$(which dpcpp) \
            -DCMAKE_C_COMPILER=$(which clang) \
            -DPELEC_ENABLE_MPI:BOOL=OFF \
            -DPELEC_ENABLE_MASA:BOOL=OFF \
            -DPELEC_ENABLE_FCOMPARE_FOR_TESTS:BOOL=OFF \
            -DPELEC_ENABLE_DPCPP:BOOL=ON \
            ${{github.workspace}}
      - name: Build
        working-directory: ${{runner.workspace}}/build-dpcpp
        run: |
          set +e
          source /opt/intel/oneapi/setvars.sh
          set -e
          cmake --build . --parallel ${{env.NPROCS}}
  Lint-cppcheck:
    needs: Formatting
    runs-on: macos-latest
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{github.token}}
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Dependencies
        run: |
          brew install cppcheck
      - name: Configure
        run: |
          cmake -B${{runner.workspace}}/build-cppcheck \
          -DPELEC_ENABLE_MPI:BOOL=OFF \
          -DPELEC_ENABLE_FCOMPARE_FOR_TESTS:BOOL=OFF \
          -DPELEC_ENABLE_MASA:BOOL=OFF \
          -DPELEC_ENABLE_CPPCHECK:BOOL=ON \
          ${{github.workspace}}
      - name: Check
        working-directory: ${{runner.workspace}}/build-cppcheck
        run: make cppcheck
      - name: Full report
        working-directory: ${{runner.workspace}}/build-cppcheck/cppcheck
        run: cat cppcheck-full-report.txt
      - name: Short report
        working-directory: ${{runner.workspace}}/build-cppcheck
        run: |
          echo "::add-matcher::.github/problem-matchers/cppcheck.json"
          cat cppcheck-warnings.txt
          export return=$(tail -n 1 cppcheck-warnings.txt | awk '{print $2}')
          exit ${return}
  Lint-clang-tidy:
    needs: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{github.token}}
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-tidy-10 ninja-build
          sudo update-alternatives --install /usr/bin/clang-tidy clang-tidy /usr/bin/clang-tidy-10 100
      - name: Configure
        run: |
          echo "NPROCS=$(nproc)" >> $GITHUB_ENV
          cmake -G Ninja -B${{runner.workspace}}/build-clang-tidy \
          -DCMAKE_BUILD_TYPE:STRING=Debug \
          -DCMAKE_CXX_COMPILER:STRING=clang++ \
          -DCMAKE_C_COMPILER:STRING=clang \
          -DPELEC_ENABLE_MPI:BOOL=OFF \
          -DPELEC_ENABLE_FCOMPARE_FOR_TESTS:BOOL=OFF \
          -DPELEC_ENABLE_MASA:BOOL=OFF \
          -DPELEC_ENABLE_CLANG_TIDY:BOOL=ON \
          ${{github.workspace}}
      - name: Check
        working-directory: ${{runner.workspace}}/build-clang-tidy
        run: |
          cmake --build . --parallel ${{env.NPROCS}} 2>&1 | tee -a clang-tidy-full-report.txt
          cat clang-tidy-full-report.txt | grep "warning:" | grep -v "Submodules" | sort | uniq | \
            awk 'BEGIN{i=0}{print $0}{i++}END{print "Warnings: "i}' > clang-tidy-warnings.txt
      - name: Full report
        working-directory: ${{runner.workspace}}/build-clang-tidy
        run: cat clang-tidy-full-report.txt
      - name: Short report
        working-directory: ${{runner.workspace}}/build-clang-tidy
        run: |
          echo "::add-matcher::.github/problem-matchers/gcc.json"
          cat clang-tidy-warnings.txt
          export return=$(tail -n 1 clang-tidy-warnings.txt | awk '{print $2}')
          exit ${return}
